body {
  margin: 0;
  padding: 0;
  
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('bg.jpeg');
  background-size: cover;
  background-position: center;
  filter: brightness(0.4); 
}

.container {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px;
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

#difficulty-container {
  margin-bottom: 20px;
}

button {
  background-color: rgb(65, 148, 151);
  color: #e94560;
  border: 2px solid #e94560;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  margin: 10px;
}

button:hover {
  background-color: #d5fb00;
  border-color: #1a1a2e;
}

#dare-container {
  display: none;
}

#confirm-text {
  margin-top: 20px;
  font-size: 16px;
}

#dare-text {
  font-size: 18px;
  margin: 20px 0;
}

button {
  background-color: #0f3460;
  color: #e94560;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  margin: 10px;
  transition: all 0.3s ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); 
}

button:hover {
  background-color: #16213e;
  color: #ffffff; 
  transform: translateY(-2px); 
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5); 
}


#accept-dare-button,
#decline-dare-button {
  background-color: #e94560;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  margin: 10px;
  transition: all 0.3s ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); 
}

#accept-dare-button:hover,
#decline-dare-button:hover {
  background-color: #ff6b81;
  transform: translateY(-2px); 
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5); 
}

#dare-button {
  background-color: rgb(135, 35, 15); 
  border: none;
  color: #ffffff;
  padding: 15px 30px; 
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px; 
  margin-top: 20px; 
  transition: all 0.3s ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); 
  font-size: medium;

  #dare-button {
    background-color: rgb(135, 35, 15); 
    color: #ffffff;
    padding: 15px 30px; 
    font-size: 24px; 
    cursor: pointer;
    border-radius: 10px; 
    margin-top: 20px;
    transition: all 0.3s ease;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); 
    font-size: medium;
    font-family: 'Your Game Font', sans-serif; 
    font weight: bold;
  }

}

#dare-button:hover {
  background-color: rgb(30, 59, 60); 
  transform: translateY(-2px); 
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5); 
}


#accept-dare-button {
  background-color: #0f9d58;
}


#decline-dare-button {
  background-color: #ff5722;
}
